.dropdown-container {
  margin-top: 50px;
  .dropdown-name {
    margin: 10px;
    font-size: 25px;
    font-weight: 700;
  }
  .dropdown-field {
    margin-left: 10px;
    font-size: 15px;
    margin-top: 30px;
    width: 200px;
    height: 30px;
  }
}
