.dropdown-container {
  margin-top: 50px;
  display: flex;
  align-items: center;
  .dropdown-name {
    margin: 10px;
    font-size: 25px;
    font-weight: 700;
  }
  .dropdown-field {
    margin: 30px 10px;
    font-size: 15px;

    width: 200px;
    height: 30px;
  }
}
.tag-container {
  width: 180%;
  height: 40px;
  margin: 10px 10px;
  display: flex;

  .tag {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 12px;
    border-radius: 20px;
    border: solid 1px #008489;
    background-color: #008489;
    width: min-content;
    height: 20px;
    color: white;
  }
}
