@import "../../../Styles/Common.scss";

.room-wrapper {
  max-width: 594px;
  padding-bottom: 16px;
  border-bottom: 0.1px solid #c5c3c3;
  .room-info-one {
    margin-top: 16px;
    padding-left: 20px;
    .house-icon {
      width: 15px;
      position: absolute;
      margin-left: -18px;
      margin-top: 4px;
    }
  }
  .room-info-two {
    margin-top: 16px;
    padding-left: 20px;
    .spray-icon {
      width: 15px;
      position: absolute;
      margin-left: -18px;
      margin-top: 4px;
    }
  }
  .room-info-three {
    margin-top: 16px;
    padding-left: 20px;
    .location-icon {
      width: 13px;
      height: 17px;
      position: absolute;
      margin-left: -18px;
      margin-top: 4px;
    }
  }
  .room-category {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.375em;
    color: #484848;
  }
  .information {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.375em;
    color: #484848;
  }
}
