::-webkit-scrollbar {
  display: none;
}
.host-registe-page {
  margin: 0 0 20px 0;
  width: 100%;

  .hr-step-container {
    width: 100%;
    height: 10px;

    .hr-step-2 {
      width: 100%;
      height: 100%;
      background: linear-gradient(to right, #008489, #a61d55, #ffb400);
      animation: stepMove2 1s;
    }
  }
  .hr-step {
    margin: 30px;
    font-size: 40px;
  }
  .hr-guide-text-container {
    height: 600px;
    display: flex;
    align-items: center;
    .hr-guide-text {
      width: 60%;
      margin: 0 auto;
      letter-spacing: -2px;
      margin-top: 10px;
      font-size: 80px;
      background: linear-gradient(left, #008489, #a61d55, #ffb400);
      h1 {
        text-transform: uppercase;
        background: linear-gradient(to right, #008489 0%, #a61d55 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: colorMove 10s infinite;
        font: {
          size: 6vw;
          font-weight: 900;
        }
      }
    }
    .hr-guide-image2 {
      width: 400px;
      height: 600px;
      background-image: url("https://a0.muscache.com/airbnb/static/packages/photos.6f837cb4.png");
      background-size: 100%;
      background-repeat: no-repeat;
      align-items: center;
      margin-right: 40px;
    }
  }
  .hr-registe-container {
    margin-left: 150px;
    font-size: 25px;
    font-weight: 700;
    .rooms-name-container {
      margin-top: 50px;
      .rooms-name {
        margin: 10px;
        font-size: 25px;
        font-weight: 700;
      }
      .rooms-name-field {
        margin-top: 20px;
        margin-left: 10px;
        width: 40%;
        height: 35px;
        font-size: 18px;
        outline: none;
        border: 0;
        border-bottom: solid 1px gray;
        padding-bottom: 15px;
        &:focus {
          border-bottom: solid 5px#008489;
        }
      }
    }
    .dropdown-container {
      margin-top: 50px;
      .dropdown-name {
        margin: 10px;
        font-size: 25px;
        font-weight: 700;
      }
      .dropdown-field {
        margin-left: 10px;
        font-size: 15px;
        margin-top: 30px;
        width: 200px;
        height: 30px;
      }
    }
  }
  .count-button-container {
    margin-top: 50px;
    min-width: 300px;
    .count-button-name {
      margin: 10px;
      font-size: 25px;
      font-weight: 700;
    }
    .count-button {
      margin: 30px 10px;
      min-width: 40px;
      height: 40px;
      border: solid 1px gray;
      border-radius: 100%;
      font-weight: 100;
      font-size: 28px;

      &:hover {
        border: solid 2px #008489;
        color: #008489;
      }
    }
    .count {
      text-align: center;
      display: inline-block;
      min-width: 80px;
      font-weight: 300;
    }
  }
  .button-container {
    display: flex;
  }
}
.images-container {
  margin-top: 50px;
  width: 100vh;
  height: 200px;
  display: flex;
  border: solid 1px black;
  .images {
    width: 200px;
    height: 200px;
    background-size: 100%;
  }
}
@keyframes stepMove2 {
  from {
    width: 50%;
  }
  to {
    width: 100%;
  }
}
